@model CreateShoppingListViewModel

@{
    ViewData["Title"] = "Create Shopping List";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<form asp-controller="ShoppingList" asp-action="Create" class="needs-validation" method="post">
    <div class="row">
        <div class="col-md-7 offset-md-3">
            <form id="registerForm" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Name">Name</label>
                    <input class="form-control text-center" aria-required="true" asp-for="@Model.Name" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="my-3 form-group" id="IngridientsDiv">
                    <hr />
                </div>
                <a class="btn btn-info my-3" onclick="addMoreIngredientFields()">Add Ingedients &nbsp; <i class="bi bi-plus-circle"></i></a>
                <div class="text-left">
                    <button id="registerSubmit" type="submit" class="btn btn-primary">Create Shopping List</button>
                </div>
            </form>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/create-shopping-list-javascript.js"></script>
    <script src="~/js/validate-additional-fields.js"> </script>
    <partial name="_ValidationScriptsPartial" />
}

