@using Microsoft.AspNetCore.Identity
@using TastyFood.Infrastructure.Data.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="btn-group">
            <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="More Options">Hello @User.Identity?.Name!</a>
            <div class="dropdown-menu dropdown-menu-xl-end">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a>
                <a class="dropdown-item" asp-controller="Recipe" asp-action="Create">Create a recipe</a>
                <a class="dropdown-item" asp-controller="Recipe" asp-action="MyRecipes">My recipes</a>
                <a class="dropdown-item" asp-controller="Recipe" asp-action="Favorites">Favorites</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="ShoppingList" asp-action="Create">Create a shopping list</a>
                <a class="dropdown-item" asp-controller="ShoppingList" asp-action="MyShoppingLists">My shopping lists</a>
            </div>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="ApplicationUser" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link table-hover text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="ApplicationUser" asp-action="Register">Register</a>
        </li>
        <li class="nav-item1">
            <a class="nav-link text-dark" asp-controller="ApplicationUser" asp-action="Login">Login</a>
        </li>
    }
</ul>